{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card">
            <h1>Add a Comment to "{{ post.title }}"</h1>

            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                </div>
                <button type="submit">Post Comment</button>
            {{ form_end(form) }}

            <br>
            <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn">Back to Post</a>
        </div>
    </div>
{% endblock %}